@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

:root {
  --color-gray-800: #323339;
  --color-gray-700: #3d3e45;
  --color-gray-100: #dcdddf;

  --color-white: #fff;

  --max-content-width: 700px;
}

body {
  background-color: var(--color-gray-800);
  font-family: 'gg sans Normal', sans-serif;
  color: #fff;
  margin: 0;
}

.thread-header {
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-gray-700);
  max-width: var(--max-content-width);

  & img {
    border-radius: 100%;
    width: 5rem;
    margin-bottom: .5rem;
  }

  & h1 {
    font-family: 'gg sans Bold', sans-serif;
    color: var(--color-white);
    margin: 0;
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  & p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-gray-100);
  }
}
