@import url("https://fonts.cdnfonts.com/css/gg-sans-2");

:root {
	--color-gray-900: #2c2d32;
	--color-gray-800: #323339;
	--color-gray-700: #3d3e45;
	--color-gray-600: #46464d;
	--color-gray-300: #9b9ca3;
	--color-gray-100: #dcdddf;

	--color-white: #fff;
	--color-mod: #f86d1d;
	--color-admin: #4781ff;
	--color-system: #6a7d91;

	--max-content-width: 700px;
}

body {
	background-color: var(--color-gray-800);
	font-family: "gg sans Normal", sans-serif;
	color: #fff;
	margin: 0;
}

.thread-header {
	margin: 0 auto;
	padding: 2rem 0;
	border-bottom: 1px solid var(--color-gray-700);
	max-width: var(--max-content-width);

	& img {
		border-radius: 100%;
		width: 5rem;
		margin-bottom: 0.5rem;
	}

	& h1 {
		font-family: "gg sans SemiBold", sans-serif;
		font-weight: 600;
		color: var(--color-white);
		margin: 0;
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

	& p {
		margin: 0;
		font-size: 1rem;
		color: var(--color-gray-100);
	}
}

.threadMessages {
	display: grid;
	list-style: none;
	padding: 0;
	max-width: var(--max-content-width);
	margin: 0 auto;

	& li {
		padding: 0.8rem 1rem;
		display: flex;
		gap: 1rem;
		color: var(--color-gray-100);

		&:not([data-message-type="from-user"]):not(
				[data-message-type="to-user"]
			):not([data-message-type="system-to-user"]) {
			background: var(--color-gray-900);
		}
	}
}

.msgAvatar {
	width: 40px;
	height: 40px;
	background: var(--color-gray-700);
	border-radius: 100%;
	margin: 0;
}

.msgHeader {
	display: flex;
	align-items: center;
	gap: 0.8ch;
	line-height: 1;
	color: var(--user-color);

	& p {
		font-family: "gg sans SemiBold", sans-serif;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 0.4rem;
		margin: 0 0 0.3rem;
	}

	& time {
		font-size: 0.8rem;
		color: var(--color-gray-300);
	}

	& svg {
		width: 18px;
		height: 18px;
	}

	& .typeBadge {
		background: var(--color-gray-600);
		border-radius: 4px;
		color: var(--color-gray-100);
		font-size: 0.7rem;
		font-family: "gg sans Semibold", sans-serif;
		font-weight: 600;
		padding: 2px 6px 2px;
	}
}

.msgBody p {
	margin: 0;
}

.user-icon {
	color: var(--color-gray-300);
}

.server {
	margin-top: 1ch;

	& .server-name {
		margin: 0;
		font-family: "gg sans Bold", sans-serif;
		font-weight: 700;
		color: #fff;
		font-size: 1.1rem;
		margin: 0 0 0.2rem;
	}

	& .server-known-as {
		color: var(--color-gray-100);
		font-size: 1rem;
		font-family: "gg sans SemiBold", sans-serif;
		font-weight: 600;
		margin: 0;
	}
}

.server-roles {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6rem;
	margin: 0;
	padding: 0;
	list-style: none;

	& li {
		border: 1px solid var(--color-gray-600);
		font-weight: 600;
		font-family: "gg sans SemiBold", sans-serif;
		padding: 2px 10px;
		border-radius: 100px;
		display: flex;
		align-items: center;
		gap: 0.6ch;
		--role-color: var(--color-gray-600);

		&[data-role="admin"],
		&[data-role="administrator"] {
			--role-color: var(--color-admin);
		}

		&[data-role="mod"],
		&[data-role="moderator"] {
			--role-color: var(--color-mod);
		}

		&[data-role="muted"] {
			--role-color: #f91a61;
		}

		&:before {
			content: "";
			background: var(--role-color);
			width: 6px;
			height: 6px;
			border-radius: 100%;
		}
	}
}

[data-role="mod"],
[data-role="moderator"],
[data-role="trainee"] {
	color: var(--color-mod);
}

[data-role="admin"],
[data-role="administrator"] {
	color: var(--color-admin);
}

[data-message-type="system"],
[data-message-type="system-to-user"] {
	--user-color: var(--color-mod);
}

[data-message-type="from-user"] {
	--user-color: var(--color-white);
}

[data-message-type="internal"] {
	--user-color: var(--color-mod);
}
